/* GENERALES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover {
    color: #FFEA1F;
}

/*ESTILO DE ENCABEZADO*/
header {
    display: flex;
    justify-content: flex-end;
    background-color: #201F1F;
    height: 7rem;
    align-items: center;
}
.selection {
    color: #FFEA1F !important;
}
.nav_list_item {
    font-weight: 400;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: 'Arsenal', sans-serif;
    text-decoration: none;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-left: solid 2px white;
}
.nav_list_item:hover {
    animation: pulse;
    animation-duration: 1.3s;
}
.estiloDeBoton {
    background-color: #4A4A4A;
    border: 2px solid #939393;
}
.fondo_despleglable {
    background-color: #201f1fd6;
    padding: 0.2rem;
}
.container{
    flex-direction: row-reverse;
    flex-wrap:unset !important;
}

/*ESTILO DE MAIN*/
body {
    background-color: black;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}
#main_contacto {
    margin-top: 14rem;
}
#logo_principal_index {
    width: 14rem;
    position: absolute;
    margin-left: 1rem;
}
#logo_principal {
    width: 12rem;
    position: absolute;
    margin-left: 1rem;
}
#imgLogoGrande {
    display: none;
}
.estilo_section {
    background-color: #4a4a4ad3;
    border: solid 3px #939393;
}
.containerSection {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

#section_1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 6rem;
    width: 80%;
}

#section_4{
    width: 80%;
}

#section_4 article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.containerText {
    margin-top: 2rem;
}

.container_peliculas {
    width: 90%;
    display: flex;
    margin: 0.7rem;
    flex-wrap: wrap;
    align-items: center;
}
.container_info_pelis {
    margin-top: 0.5rem;
}
.pelicula_trailer {
    height: 80%;
    position: relative;
    margin-right: 1rem;
}
.img {
    width: 10rem;
}
.img:hover {
    transform: scale(1.1);
}

/*ESTILOS DE TEXTO*/
.link_ver_episodio {
    text-decoration: underline;
    color: #FFF591;
    font-family: 'Cinzel', serif;
    font-size: 32px;
    line-height: 30px;
    font-weight: 578;
    text-align: center;
    text-transform: uppercase;
}
.parrafo_blanco {
    color: #ffffff;
    font-family:'Arsenal', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
}
.subtitulo_principal {
    color: #FFEA1F;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 578;
    font-size: 26px;
    text-align: center;
    margin-bottom: 1rem;
}
.texto_principal {
    color: #FFEA1F;
    font-family:'Arsenal', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding-bottom: 1rem;
}
.titulo {
    color: #FFEA1F;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 578;
    font-size: 24px;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/*ESTILO DE CUADRO DE PRODUCTOS*/
.producto_tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    background-color: #2A2929;
    border: solid 2px #A89A10;
    margin: 0.5rem;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}

.img_producto {
    width: 15rem;
}

.boton_comprar {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 578;
    font-size: 1.5rem;
    margin-top: 2rem;
    background-color: #FFEA1F;
    width: 189px;
    height: 42px;
}

/*DISEÑO DEL FOOTER*/
.pieDePagina {
    z-index: 2;
    background-color: #201F1F;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: 'Arsenal', sans-serif;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 0.5rem;
    margin-top: 1.3rem;
}
.img_redes {
    width: 2rem;
    margin-left: 0.3rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 5px #FFEA1F;
    border-radius: 3px;
    animation-name: anim_icon_redes;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}
@keyframes anim_icon_redes {
    0% {width: 2rem;}
    50% {width: 2.1rem;}
    100% {width: 2rem;}
}

/*IMAGENES DE FONDO MOBILE*/
#fondoImg3{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 80%;
}
#fondoImg2 {
    z-index: -1;
    position: fixed;
    top: 50px;
    width: 100%;
}
#fondoImg_mobile {
    z-index: -1;
    position: absolute;
    width: 100%;
}
#fondoImg {
    display: none;
}

#fondoImg1 {
    display: none;
}

#img_fondo5_1 {
    z-index: -1;
    position: absolute;
    width: 100vw;
    top: 0;
}
#img_fondo5_2 {
    display: none;
}

@media screen and (min-width: 700px) {
    /*ESTILOS ENCABEZADO*/
    #logo_principal_index {
        width: 25vw;
        position: absolute;
        margin-left: 0.7rem;
    }
    /*ESTILOS DEL CONTENIDO*/
    #fondoImg_mobile {
        display: none;
    }
    #fondoImg {
        display: inline;
        z-index: -1;
        position: fixed;
        top: 3rem;
        right: 0;
        height: 90%;
    }
    #fondoImg1 {
        display: inline;
        z-index: -1;
        position: fixed;
        top: 2rem;
        right: 0;
        width: 160vh;
    }
    #img_fondo5_1 {
        display: inline;
        z-index: -1;
        position: absolute;
        width: 43%;
        top: 0rem;
    }
    #img_fondo5_2 {
        display: inline;
        z-index: -1;
        position: absolute;
        width: 43%;
        right: 0;
        bottom: 0rem;
    }
    /*INFO DE PROYECTO*/
    .infoProyecto {
        width: 50%;
    }
    #section_1 {
        margin-top: 0;
    }
    main {
        margin-top: 9rem;
    }
    #main_contacto {
        margin-top: 5.5rem;
    }
    .container_peliculas {
        flex-wrap: nowrap;
    }
    .titulo {
        text-align: center;
    }
}