header#arriba {
  display: flex;
  justify-content: flex-end;
  background-color: #201F1F;
  height: 7rem;
  align-items: center; }
  header#arriba nav div.container {
    flex-direction: row-reverse;
    flex-wrap: unset !important; }
    header#arriba nav div.container .estiloDeBoton {
      background-color: #4A4A4A;
      position: absolute;
      border: 2px solid #939393;
      margin-top: 3rem; }
    header#arriba nav div.container .estilo_list_nav {
      position: absolute;
      margin-top: 13rem;
      background-color: #4a4a4ac4;
      padding-top: 0.2rem;
      padding-bottom: 0.3rem; }
      header#arriba nav div.container .estilo_list_nav .navbar-nav a.nav_list_item {
        font-weight: 400;
        font-size: 24px;
        line-height: 16px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Arsenal', sans-serif;
        padding-top: 0.5rem;
        padding-bottom: 0.2rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        color: white;
        border-left: solid 2px white; }

.nav_list_item:hover {
  animation: pulse;
  animation-duration: 1.3s; }

.selection {
  color: #FFEA1F !important; }

#logo_principal {
  width: 12rem;
  position: absolute;
  margin-left: 1rem; }

body a img#logo_principal_desktop {
  width: 12rem;
  position: absolute;
  margin-left: 1rem; }

body img#logo_principal_index {
  display: none; }

body img#fondoImg {
  display: none; }

body img#fondoImg_mobile {
  z-index: -1;
  position: absolute;
  width: 100%;
  opacity: 80%; }

body main.infoProyecto section#section_1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 6rem;
  width: 80%;
  background-color: #4a4a4ad3;
  border: solid 3px #939393; }
  body main.infoProyecto section#section_1 h1 {
    color: #FFEA1F;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 578;
    font-size: 26px;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 1rem; }
  body main.infoProyecto section#section_1 p {
    color: #FFEA1F;
    font-family: 'Arsenal', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding-bottom: 1rem; }

footer.pieDePagina {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background-color: #201F1F;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: 'Arsenal', sans-serif;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem; }
  footer.pieDePagina a img.img_redes {
    width: 2rem;
    margin-left: 0.3rem;
    margin-bottom: 1rem;
    border-radius: 3px; }
  footer.pieDePagina a img.img_irArriba {
    width: 4rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    animation-name: anim_icon_redes;
    animation-iteration-count: infinite;
    animation-duration: 1.8s; }

@keyframes anim_icon_redes {
  0% {
    bottom: 1rem; }
  50% {
    bottom: 1.2rem; }
  100% {
    bottom: 1rem; } }

body img#fondoImg_mobile2 {
  z-index: -1;
  position: absolute;
  width: 100%;
  opacity: 80%; }

body main article.containerSection {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  background-color: #4a4a4ad3;
  border: solid 3px #939393; }
  body main article.containerSection section.containerText {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
    body main article.containerSection section.containerText h2 {
      color: #FFEA1F;
      font-family: 'Cinzel';
      font-style: normal;
      font-weight: 578;
      font-size: 26px;
      text-align: center;
      margin-top: 0rem;
      margin-bottom: 1rem; }
    body main article.containerSection section.containerText p {
      color: #FFEA1F;
      font-family: 'Arsenal', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      padding-bottom: 1rem; }
  body main article.containerSection section img.img {
    width: 8rem; }

.img:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 10px white; }

body img#fondoImg2 {
  z-index: -1;
  position: absolute;
  top: 105px;
  width: 100%; }

body main article.containerSection {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  background-color: #4a4a4ad3;
  border: solid 3px #939393; }
  body main article.containerSection h1.titulo {
    color: #FFEA1F;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 578;
    font-size: 26px;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  body main article.containerSection section.container_peliculas {
    width: 90%;
    display: flex;
    margin: 0.7rem;
    flex-wrap: wrap;
    align-items: center; }
    body main article.containerSection section.container_peliculas div iframe.pelicula_trailer {
      width: 100%;
      height: 80%;
      position: relative; }
    body main article.containerSection section.container_peliculas div.container_info_pelis {
      margin-top: 0.5rem; }
      body main article.containerSection section.container_peliculas div.container_info_pelis a.link_ver_episodio {
        text-decoration: underline;
        color: #FFF591;
        font-family: 'Cinzel', serif;
        font-size: 32px;
        line-height: 30px;
        font-weight: 578;
        text-align: center;
        text-transform: uppercase; }
      body main article.containerSection section.container_peliculas div.container_info_pelis p.parrafo_blanco {
        color: #ffffff;
        font-family: 'Arsenal', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        text-align: left; }

body img#fondoImg3 {
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 80%; }

body main section.estilo_section#section_4 {
  width: 80%;
  background-color: #4a4a4ad3;
  border: solid 3px #939393; }
  body main section.estilo_section#section_4 h1 {
    color: #FFEA1F;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 578;
    font-size: 26px;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  body main section.estilo_section#section_4 article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    body main section.estilo_section#section_4 article div.producto_tienda {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 18rem;
      background-color: #2A2929;
      border: solid 2px #A89A10;
      margin: 0.5rem;
      padding-top: 2.5rem;
      padding-bottom: 1.5rem; }
      body main section.estilo_section#section_4 article div.producto_tienda img.img_producto {
        width: 15rem; }
      body main section.estilo_section#section_4 article div.producto_tienda button.boton_comprar {
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 578;
        font-size: 1.5rem;
        margin-top: 2rem;
        background-color: #FFEA1F;
        width: 189px;
        height: 42px; }

body img#img_fondo5_1 {
  z-index: -1;
  position: absolute;
  width: 100vw;
  top: 0; }

body img#img_fondo5_2 {
  display: none; }

body main#container_formulario {
  display: flex;
  justify-content: center; }
  body main#container_formulario div#main_contacto {
    background-color: #4a4a4ad3;
    border: solid 3px #939393;
    width: 90%;
    padding: 1rem; }
    body main#container_formulario div#main_contacto form fieldset legend.titulo2 {
      color: #FFEA1F;
      font-family: 'Cinzel';
      font-style: normal;
      font-weight: 578;
      font-size: 24px;
      text-align: center;
      margin-top: 0.7rem;
      margin-bottom: 0.5rem; }
    body main#container_formulario div#main_contacto form fieldset label.subtitulo_form {
      color: #FFEA1F;
      font-family: 'Arsenal', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      padding-bottom: 1rem; }
    body main#container_formulario div#main_contacto form fieldset input.espacio_para_escribir {
      width: 90%;
      height: 100px;
      margin-bottom: 1rem;
      background-color: #4a4a4ad3;
      border: solid 1px #939393; }
    body main#container_formulario div#main_contacto form fieldset input.espacio_para_escribir2 {
      width: 90%;
      margin-bottom: 1rem;
      background-color: #4a4a4ad3;
      border: solid 1px #939393; }
    body main#container_formulario div#main_contacto form fieldset div input.boton_form {
      font-family: 'Cinzel';
      font-style: normal;
      font-weight: 578;
      font-size: 1rem;
      background-color: #FFEA1F;
      width: 6rem; }

/*medias queries*/
@media screen and (min-width: 1140px) {
  body main.infoProyecto section#section_1 {
    width: 30rem; } }

@media screen and (min-width: 992px) {
  body header#arriba nav div.container .estilo_list_nav {
    position: relative;
    margin-top: 0.5rem;
    background-color: transparent; }
  body main div#main_contacto {
    width: 35%;
    padding-left: 1rem;
    padding-right: 1rem; }
  body img#fondoImg {
    display: block;
    z-index: -1;
    position: absolute;
    right: 0;
    height: 85%; }
  body img#fondoImg_mobile {
    display: none; } }

@media screen and (min-width: 740px) {
  body img#logo_principal_index {
    display: inline;
    max-width: 18rem;
    position: absolute;
    margin-left: 1rem; }
  body a img#logo_principal_desktop {
    display: none; } }

@media screen and (min-width: 700px) {
  body main#container_formulario div#main_contacto {
    width: 40rem; }
  body img#img_fondo5_1 {
    display: inline-block;
    z-index: -1;
    position: absolute;
    max-height: 85vh;
    width: 48vw;
    top: 7rem;
    opacity: 80%; }
  body img#img_fondo5_2 {
    display: inline-block;
    z-index: -1;
    position: absolute;
    max-height: 85vh;
    width: 48vw;
    right: 0;
    top: 7rem;
    opacity: 80%; }
  body main.infoProyecto {
    width: 50%; }
    body main.infoProyecto section#section_1 {
      margin-top: 0; }
  main {
    margin-top: 9rem; }
  body main article section.container_peliculas {
    flex-wrap: nowrap;
    justify-content: space-between; }
    body main article section.container_peliculas div.container_info_pelis {
      width: 55%;
      margin-left: 1rem; }
  body main article section.container div img.img {
    width: 10rem; } }

/* GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem; }

html body {
  background-color: black;
  height: 100vh; }

html body::-webkit-scrollbar {
  width: 15px; }

html body::-webkit-scrollbar-track {
  background: #201F1F; }

html body::-webkit-scrollbar-thumb {
  background-color: #c8b617;
  border-radius: 8px; }
