/*Generales*/

body {
    margin: 0;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

/*Encabezado*/

header {
    font-weight: 400;
    font-size: 22px;
    line-height: 16px;
    color: white;
    font-family: 'Arsenal', sans-serif;
}

/*Navegador*/

.nav {
    position: absolute;
    top: 0px;
    right: 0px;
}

.nav ul li {
    display: inline-block;
    margin-top: 10px;
}

.nav_list {
    list-style: none;
    padding: 0px;
}

.nav_list_item {
    padding: 5px 25px;
    border-left: 2px solid white;
    text-transform: uppercase;
    font-family:'Arsenal', sans-serif;
    font-style: normal;
}
.selection {
    color: #FFEA1F;
}

/*Contenido del proyecto*/

/*Containers*/

.containerMain {
    align-items: center;
    width: 50%;
}

.containerImg {
    width: 50%;
    margin-left: 30px;
}

.containerText {
    color: #FFEA1F;
    font-family:'Arsenal', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    width: 40%;
    position: absolute;
    right: 80px;
    top: 25px;
}

.containerSection {
    position: relative;
    margin-top: 40px;
    margin-bottom: 50px;
}

.container_div_info_peliculas {
    padding-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgba(100, 99, 99, 0.852);
}

.container_trailer_peliculas {
    display: inline-block;
    text-align: center;
    width: 40%;
}
.container_info_peliculas {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 50%;
}

/*Etiquetas en el Main*/

#imgLogoGrande {
    width: 35vw;
    position: relative;
    left: 90px;
}

.imgLogoPrincipal {
    width: 15vw;
    margin-left: 40px;
    z-index: 2;
}

.link_ver_episodio {
    text-decoration: underline;
    color: #FFF591;
    font-family: 'Cinzel', serif;
    font-size: 32px;
    line-height: 30px;
    font-weight: 578;
    text-align: center;
    text-transform: uppercase;
}

.subtitulo {
    color: #FFEA1F;
    font-family: 'Cinzel', serif;
    font-size: 32px;
    line-height: 30px;
    font-weight: 578;
    text-align: center;
    text-transform: uppercase;
}

.estiloTexto {
    color: #FFEA1F;
    font-family:'Arsenal', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.parrafo_blanco {
    color: #ffffff;
    font-family:'Arsenal', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
}
.parrafo {
    color: #FFEA1F;
    font-family:'Arsenal', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
}

.img {
    width: 135px;
    border: 2px solid white;

}

.pelicula_trailer {
    width: 360px;
    height: 215px;
    position: relative;
}

.pieDePagina {
    color: #FFEA1F;
}

/*Imagenes de Fondo*/

.fondoImg {
    z-index: -1;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 55vw;
}

.fondoImg1 {
    z-index: -1;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 75vw;
}

.fondoImg2 {
    z-index: -1;
    position: fixed;
    top: 50px;
    width: 100%;
}

.fondoImg3 {
    z-index: -1;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
