//imports de variables
@import "variables.scss";

body {
    img#img_fondo5_1 {
        z-index: -1;
        width: 100%;
    }
    img#img_fondo5_2 {
        display: none;
    }
    main#container_formulario {
        @include margenDeMain_mobile;
        display: flex;
        justify-content: center;
        div#main_contacto {
            background-color: $color2;
            border: solid 3px $color3;
            width: 90%;
            padding: 1rem;
            form {
                fieldset {
                    legend.titulo2 {
                        color: $color1;
                        font-family: 'Cinzel';
                        font-style: normal;
                        font-weight: 578;
                        font-size: 24px;
                        text-align: center;
                        margin-top: 0.7rem;
                        margin-bottom: 0.5rem;
                    }
                    label.subtitulo_form {
                        color: $color1;
                        font-family:'Arsenal', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 32px;
                        padding-bottom: 0.5rem;
                    }
                    input.espacio_para_escribir {
                        width: 95%;
                        height: 70px;
                        margin-bottom: 1rem;
                        background-color: $color2;
                        border: solid 1px $color3;
                    }
                    textarea.espacio_para_escribir2 {
                        @extend input.espacio_para_escribir;
                        height: 100px;
                        resize: vertical;
                    }
                    div {
                        input.boton_form {
                            font-family: 'Cinzel';
                            font-style: normal;
                            font-weight: 578;
                            font-size: 1rem;
                            background-color: $color1;
                            width: 6rem;
                        }
                    }
                }
            }
        }
    }
}