footer.pieDePagina {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background-color: #201F1F;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: 'Arsenal', sans-serif;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 7rem;
    a {
        img.img_redes {
            width: 2rem;
            margin-left: 0.3rem;
            margin-bottom: 1rem;
            border-radius: 3px;
        }
    }
    a {
        img.img_irArriba {
            position: absolute;
            width: 3rem;
            right: 0.5rem;
            bottom: 2rem;
            animation-name: anim_icon_redes;
            animation-iteration-count: infinite;
            animation-duration: 1.8s;
        }
    }
}

@keyframes anim_icon_redes {
    0% {bottom: 2rem;}
    50% {bottom: 2.5rem;}
    100% {bottom: 2rem;}
}