//import
@import "variables.scss";

header#arriba {
    display: flex;
    justify-content: flex-end;
    background-color: $color_foot_head;
    @include sombra_de_foot_head (-7px);
    height: 7.25rem;
    align-items: center;
    nav {
        div.container {
            flex-direction: row-reverse;
            flex-wrap:unset !important;
            button.estiloDeBoton {
                background-color: $color2;
                position: absolute;
                border: 2px solid $color3;
                margin-top: 3rem;
                span.navbar-toggler-icon {
                    background-image: url("../img_logos/lineas_navbar.png");
                }
            }
            .estilo_list_nav {
                z-index: 2;
                position: absolute;
                margin-top: 13rem;
                background-color: #4a4a4ac4;
                padding-top: 0.2rem;
                padding-bottom: 0.3rem;
                .navbar-nav {
                    a.nav_list_item {
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 16px;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-family: 'Arsenal', sans-serif;
                            padding-top: 0.5rem;
                            padding-bottom: 0.2rem;
                            padding-left: 0.7rem;
                            padding-right: 0.7rem;
                            color: white;
                            border-left: solid 2px white;
                    } 
                }
            }
        }
    }
}
.nav_list_item:hover {
        animation: pulse;
        animation-duration: 1.3s;
}
.selection {
    color: $color1 !important;
}
#logo_principal {
    width: 12rem;
    position: absolute;
    margin-left: 1rem;
}
