//imports de variables
@import "variables.scss";

body {
    img#fondoImg {
        display: none;
    }
    img#fondoImg_mobile {
        z-index: -1;
        width: 100%;
        opacity: 80%;
    }
    main.infoProyecto {
        section#section_1 {
            z-index: 2;
            padding-top: 1rem;
            padding-bottom: 1rem;
            width: 80%;
            @include margenDeMain_mobile;
            @include estilo_section;
            h1 {
                @include titulo(0rem, 1rem);
            }
            p {
                @include texto_principal;
            }
        }
    }
}