//variables
$desktopXS: 1350px;
$desktop: 992px;
$tabletXS: 740px;
$tablet: 700px;


@media screen and (min-width: $tablet) {
    body {
        main#container_formulario {
            div#main_contacto {
                width: 40rem;
            }
        }
        footer.pieDePagina {
            a {
                img.img_irArriba {
                    width: 4.5rem;
                    right: 1.5rem;
                }
            }
        }
    }
    //info del proyecto
    body {
        main article {
            section.container div img.img {
                width: 10rem;
            }
            section.container_peliculas {
                div.container_info_pelis {
                width: 45%;
                margin-left: 0.5rem;
                }
            }
        }   
    }
}

@media screen and (min-width: $tabletXS) {
    body {
        img#fondoImg_mobile {
            max-width: 980px;
        }
        main#section3 article section.container_peliculas {
            flex-wrap: nowrap;
            justify-content:space-around;
            div.container_info_pelis {
                width: 50%;
                margin-left: 1rem;
            }
        }
    }
}

@media screen and (min-width: $desktop) {
    body {
        main.infoProyecto {
            margin-top: 2rem;
            width: 40%;
        }
        main#section2, main#section3 {
            @include margenDeMain_desktop;
        }
        main {
            section.estilo_section#section_4 {
                @include margenDeMain_desktop;
            }
        }
        //ENCABEZADO
        header#arriba nav  div.container .estilo_list_nav {
            position: relative;
            margin-top: 0.5rem;
            background-color: transparent;
        }
        //PAGINA DE CONTACTO
        main div#main_contacto {
            width: 35%;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        //IMAGENES DE FONDO
        img#fondoImg {
            display: inline-block;
            z-index: -1;
            position: absolute;
            right: 0;
            height: 630px;
        }
        img#fondoImg_mobile {
            display: none;
        }
        img#fondoImg_mobile2 {
            position: absolute;
        }
        img#fondoImg2 {
            position: absolute;
        }
        img#fondoImg3 {
            position: absolute;
        }
        img#img_fondo5_2 {
            display: inline-block;
            z-index: -1;
            position: absolute;
            width: 100%;
            opacity: 80%;
        }
        img#img_fondo5_1 {
            display: none;
        }
    }
}

@media screen and (min-width: $desktopXS) {
    body {
        main.infoProyecto {
            height: calc(100% - 339px) ;
        }
        img#fondoImg {
            height: calc(100% - 116px) ;
        }
        footer.pieDePagina2 {
            margin-top: 5rem;
        }
    }
}
@media screen and (min-height: 710px) and (min-width: $desktop) {
    body {
        main#container_formulario {
            margin-top: 5rem;
            height: calc(100% - 339px) ;
        }
        footer.pieDePagina2 {
            margin-top: 7rem;
        }
        main.infoProyecto {
            height: calc(100% - 339px) ;
        }
        img#fondoImg, img#img_fondo5_2 {
            height: calc(100% - 116px) ;
        }
    }
}