//variables
$color1: #FFEA1F;
$color2: #4a4a4ad3;
$color3: #939393;
$color_foot_head: black;

//#303030 

//estlo de contenedores
@mixin sombra_de_foot_head ($y) {
    box-shadow: 0px $y 30px 5px $color_foot_head;
}
@mixin margenDeMain_mobile {
    margin-top: 2rem;
}
@mixin margenDeMain_desktop {
    margin-top: 12rem;
}
@mixin estilo_section {
    background-color: $color2;
    border: solid 3px $color3;
}
@mixin containerSection {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
}
@mixin cont-text {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

//estilos textos
@mixin texto_principal {
    color: $color1;
    font-family:'Arsenal', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding-bottom: 1rem;
}
@mixin titulo ($marginT, $marginB) {
    color: $color1;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 578;
    font-size: 26px;
    text-align: center;
    margin-top: $marginT;
    margin-bottom: $marginB;
}